.container {
  cursor: pointer;
}

.details {
  font-size: 15px;
  width: 150px;
  height: 150px;
  color: white;
  text-align: center;
  padding: 8px;
}

.description {
  font-size: 10px;
  background-color: black;
  overflow: scroll;
  width: 150px;
  height: 150px;
  color: white;
  text-align: center;
  padding: 8px;
}

.time,
.title,
.djs {
  display: inline-block;
  padding: 5px;
  margin: 0;
}

.ShowTitle {
  font-size: 15px;
  line-height: 1.2;
  margin-top: 0px;
}
