.details {
  width: 150px;
  height: 150px;
  font-size: 15px;
  color: white;
  text-align: center;
  padding-top: 8px;
  padding-left: 6px;
  padding-right: 6px;
}

.description {
  width: 150px;
  height: 150px;
  font-size: 10px;
  color: white;
  background-color: black;
  overflow: scroll;
  text-align: center;
  padding: 8px;
}


.time, .title, .djs {
  display: inline-block;
  padding: 5px;
  margin: 0;
}

.ShowTitle {
  font-size: 15px;
  line-height: 1.2;
  margin-top: 0px;
}