.navBar ul {
  list-style: none;
}

.navBar li {
  display: inline;
  padding: 5px;
  cursor: pointer;
}

.navBar_highlight {
  font-weight: bold;
<<<<<<< HEAD
}
=======
}
>>>>>>> 89684c58533c0aa809334b108fdccc5f45885268
