.nextThreeShows {
  border: solid black;
  background-color: rgb(255, 205, 213);
  border-radius: 10px;
  padding: 5px;
  text-align: center;
}

.showList {
  list-style-type: none;
  border-radius: 10px;
  margin: 20;
  padding: 10px;
  text-align: left;
  display: inline-block;
}

.showListItem {
  cursor: pointer;
  width: fit-content;
}

.button {
  border: none;
  background-color: rgb(255, 205, 213);
  font-size: 15px;
}

.header, .message {
  text-align: center;
  margin: 5px;
}
