.playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:lightcyan;
  width: 100%;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}

.rows {
  list-style-type: none;
}

.title {
  font-family: Courier New;
  font-weight: bold;
  text-align: center;
}