.navBar ul {
  list-style: none;
}

.navBar li {
  font-size: 19px;
  font-weight: 500;
  display: inline;
  padding: 10px;
  cursor: pointer;
}

.navBar_highlight {
  font-weight: bold;
  color: lightskyblue;
}
