.showTitle {
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center
}

.showAttr {
  font-weight: bold;
}

.playlistDates {
  list-style-type: none;
}

.playlistDates li {
  padding: 5px;
}